{% extends "base.html" %}
{% block skills %}
<!--=============== SKILLS ===============-->
<div class="skills__content grid" data-content id="skills">
    <div class="skills__area">
        <h3 class="skills__title">
            Software
        </h3>
        <div class="skills__box">
            <div class="skills__group">
            {% for skill in software_skills_list %}
                <div class="skills__data">
                    <i class="ri-checkbox-circle-line"></i>
                    <div>
                        <h3 class="skills__name">{{ skill.skill_name }}</h3>
                        <span class="skills__level">{{ skill.skill_level }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="skills__area">
        <h3 class="skills__title">
            Engineering
        </h3>
        <div class="skills__box">
            <div class="skills__group">
            {% for skill in engineering_skills_list %}
                <div class="skills__data">
                    <i class="ri-checkbox-circle-line"></i>
                    <div>
                        <h3 class="skills__name">{{ skill.skill_name }}</h3>
                        <span class="skills__level">{{ skill.skill_level }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



